@defaultFontFamilyStrong: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif !important;
@defaultFontFamily: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
@bgColorStrong: rgb(45, 183, 245) !important;
@bgColorShallowStrong: rgb(123, 197, 245) !important;
@colorReverse: #FF9825;
@colorGray: rgba(0, 0, 0, 0.4);
@colorSuccess: rgb(47, 255, 12);
@colorError: rgba(238, 0, 0, 0.65);
@modelBgColor: rgba(0, 0, 0, 0.1);